---
import '../style/global.css';

import Form from '../components/Form.astro'
import List from '../components/List.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon-32x32.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Newsletter sign-up form with success message</title>
	</head>
	<body>
		
			<div class="grid ">
				<div class="col-text container">
					<h1 >Stay updated!</h1>
					<p>Join 60,000+ product managers receiving monthly updates on:</p>
					<ul>
							<List />
					</ul>

					<Form />
				</div>
				<div class="col-img">
					<img src="./images/illustration-sign-up-mobile.svg" alt="tablet images">

				</div>
			</div>
		

		<style>
			body {
					background-color: var(--dark-slate-clr);
				}

			.grid {
				background-color: #fff;
				display: flex;
				flex-direction: column-reverse;	
				margin-inline: auto;
		
				max-width: 375px;
			}

			.col-img {
				width:100%;
			}
			
			ul {
				margin-block: 1.5rem;
			}



			h1 {
				font-weight: 700;
				font-size: 2.3rem;
				margin-block: 1rem;
			}

			p {
				margin-bottom: 1rem;
			}

			@media(min-width: 900px) {
				
				.grid {
					flex-direction: row;
					gap: 2rem;
					max-width: 950px;
					padding: 2rem;
					border-radius: 30px;
					
				}

				.col-text {
					margin: 2rem;
				}

				h1 {
					font-size: 3.5rem;
				}

				img {
					content: url('./images/illustration-sign-up-desktop.svg');
					width: 100%;
					height: 100%;
				}
			}

		</style>
	</body>
</html>
