
---

import Button from '../components/Button.astro'
const valueText = "Subscribe to monthly newsletter";

---



<form action="#" >
  <div class="wrap-text"><p>Email address</p> <span></span></div>
  <input type="email" placeholder="email@company.com" >
  <Button valueText={valueText}></Button>

</form>

<style>

  form {
    margin-block: 2rem;
  }

  .wrap-text {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  span {
    color: var(--tomato-clr);
  }

  input {
    width: 100%;
    padding: 1.2rem;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid var(--grey-clr);
    font-size: 16px;
  }

  input[type="text"] {
    outline: var(--grey-clr);
    color:  var(--charcoal-clr);
  }

  input::placeholder {
    color: var(--grey-clr);
  }

  

  /* Error styling */
  form.error input[type="text"] {
    border: 1px solid var(--tomato-clr); 
  }

  form.error input[type="text"]::placeholder {
    color:  var(--tomato-clr);
  }

</style>


