
---

---



<form action="submit" >
  <p>Email address</p>
  <input type="text" placeholder="email@company.com">
  <input type="button" value="Subscribe to monthly newsletter">
</form>

<style>

  form {
    margin-block: 2rem;
  }
  
  p {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 1.2rem;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid var(--grey-clr);
    font-size: 16px;
  }

  input[type="text"] {
    outline: var(--grey-clr);
    color:  var(--charcoal-clr);
  }

  input::placeholder {
    color: var(--grey-clr);
  }

  input[type="button"] {
    background: var(--dark-slate-clr);
    color: #fff;
    margin-top: 1.3rem;
    border: none;
  }

  input[type="button"]:hover {
    background: linear-gradient(to right, hsl(340, 100%, 50%) -20% , var(--tomato-clr) ) ;
    border: none;
  }

</style>


