---

---


<li>
  <img src="./images/icon-list.svg" alt="icon">
  <span>Product discovery and building what matters</span>
 </li>
<li>
  <img src="./images/icon-list.svg" alt="icon">
  <span>Measuring to ensure updates are a success</span>
</li>
<li> 
  <img src="./images/icon-list.svg" alt="icon">
  <span>And much more!</span>
</li>

<style>
  
  li {
    margin-block: 1rem;
    display: flex;
    align-items: start;
    gap: 1rem;
  }
 
</style>